// reset
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    font-family: 'Mulish', sans-serif;

    &:focus {
        outline: 0;
    }
}

body {
  padding: 50px;
}

.popup-toggle-btn {
    font-size: 14px;
    font-weight: bold;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #EBEBF2;
    cursor: pointer;
    img {
      margin-right: 10px;  
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F775C1;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    .popup-close {
      width: 39px;
      height: 39px;
      border-radius: 50%;
      background: #F7F7FC;
      position: absolute;
      top: 25px;
      right: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 300ms background-color;
      &:hover {
          background: darken(#F7F7FC, 3%);
      }
      img {
          height: 15px;
      }
    }
    .popup-inner {
        position: relative;
    }
    .share-popup {
       width: 808px;
       padding: 55px 78px;
       background: #fff;
       border-radius: 15px;
       h4 {
           font-size: 22px;
           font-weight: bold;
           color: #242E4C;
           margin-bottom: 40px;
       }
       ul {
           display: flex;
           margin-bottom: 40px;
           li {
             flex: 1; 
             text-align: center;
             a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                 width: 82px;
                 height: 82px;
                 border-radius: 50%;
                 border: 1px solid #EBEBF2;
                 transition: 300ms border-color ease-in;
                 img {
                     height: 35px;
                 }
                 &:hover {
                     border-color: #F775C1;
                 }
                 
             }
           }
       }
       h6 {
         font-size: 16px;
         font-weight: bold;
         color: #242E4C;
         margin-bottom: 10px;
       }
       .input {
           position: relative;
           button {
               position: absolute;
               top: 0;
               right: 0;
               height: 57px;
               padding: 0 20px;
               line-height: 57px;
               font-size: 14px;
               font-weight: bold;
               color: #F775C1;
               background: transparent;
               cursor: pointer;
           }
         input {
            height: 57px;
            border: 1px solid #EBEBF2;
            border-radius: 5px;
            width: 100%;
            padding: 0 15px;
            font-size: 16px;
            font-weight: 400;
            color: #242E4C;
          }
         
           
        }
    }
}

.popup-toggle {
    display: none;
    &:checked + .popup {
        opacity: 1;
        visibility: visible;
    }
}

.alert {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    background-color: #1B1B30;
    opacity: 0;
    color: #fff;
    visibility: hidden;
    transition: 300ms all;
    z-index: 11;
    &.success {
        background-color: #F775C1;
    }
    &.error {
        background-color: #a02525;
    }
    
 
 
    &.active {
      transform: translate(-50%, -20px);
      opacity: 1;
      visibility: visible;
    }
}